
 /* RED */
.RED {
	color: #B30000;
}

.gradient-RED {
	background: #D90000;
	background: -webkit-linear-gradient(top, #D90000 0%, #690000 100%);
}

.gradient-RED:hover {
	background: #D90000;
}

.gradient-RED:active {
	background: #690000;
}

/* BLUE */
.BLUE {
	color: #001FA3;
}

.gradient-BLUE {
	background: #003BD9;
	background: -webkit-linear-gradient(top, #003BD9 0%, #001469 100%);
}

.gradient-BLUE:hover {
	background: #003BD9;
}

.gradient-BLUE:active {
	background: #001469;
}

/* PURPLE */
.PURPLE {
	color: #4600A1;
}

.gradient-PURPLE {
	background: #5D00D9;
	background: -webkit-linear-gradient(top, #5D00D9 0%, #2E0069 100%);
}

.gradient-PURPLE:hover {
	background: #5D00D9;
}

.gradient-PURPLE:active {
	background: #2E0069;
}

/* YELLOW */
.YELLOW {
	color: #806C00;
}

.gradient-YELLOW {
	background: #FFDC00;
	background: -webkit-linear-gradient(top, #FFDC00 0%, #806C00 100%);
}

.gradient-YELLOW:hover {
	background: #FFDC00;
}

.gradient-YELLOW:active {
	background: #806C00;
}

/* ORANGE */
.ORANGE {
	color: #BD5100;
}

.gradient-ORANGE {
	background: #FF6E00;
	background: -webkit-linear-gradient(top, #FF6E00 0%, #804900 100%);
}

.gradient-ORANGE:hover {
	background: #FF6E00;
}

.gradient-ORANGE:active {
	background: #804900;
}

/* PINK */
.PINK {
	color: #69005A;
}

.gradient-PINK {
	background: #D900A0;
	background: -webkit-linear-gradient(top, #D900A0 0%, #69005A 100%);
}

.gradient-PINK:hover {
	background: #D900A0;
}

.gradient-PINK:active {
	background: #69005A;
}

/* TEAL */
.TEAL {
	color: #00695F;
}

.gradient-TEAL {
	background: #00D9CA;
	background: -webkit-linear-gradient(top, #00D9CA 0%, #00695F 100%);
}

.gradient-TEAL:hover {
	background: #00D9CA;
}

.gradient-TEAL:active {
	background: #00695F;
}

/* GREEN */
.GREEN {
	color: #116900;
}

.gradient-GREEN {
	background: #08D900;
	background: -webkit-linear-gradient(top, #08D900 0%, #116900 100%);
}

.gradient-GREEN:hover {
	background: #08D900;
}

.gradient-GREEN:active {
	background: #116900;
}
