.body-items {
	font-size: 28px;
	margin: 10px;
	margin-bottom: 50px;
}

.container-left {
	padding: 40px;
	width: 720px;
	height: 690px;
	position: absolute;
	left: 0;
	-webkit-box-shadow: 8px 0px 12px -3px rgba(0,0,0,0.19);
	box-shadow: 8px 0px 12px -3px rgba(0,0,0,0.19);
	z-index: 2;
	background: white;
	transition: 0.5s;
}

.ticket-container {
	z-index: 0;
}

.ticket {
	position: relative;
	left: 450px;
	margin: 25px;
	z-index: -1;
}

.ticket-content {
	position: relative;
	top:-550px;
	left: 222px;
	color: white;
	z-index: 1;
	text-align: center;
}

.ticket-content-head {
	color: white;

	font-size: 28px;
	font-weight: bold;
}

.ticket-content-sub {
	color: white;
	font-size: 16px;
	font-weight: normal;
}

.visible35 {
	visibility: visible;
	opacity: 1;
	transition: opacity 0.35s linear;
}

.visible15 {
	visibility: visible;
	opacity: 1;
	transition: opacity 0.15s linear;
}

.hidden15 {
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s 0.15s, opacity 0.15s linear;
}

.hidden35 {
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s 0.35s, opacity 0.35s linear;
}

.fetchable {
	display: none;
	opacity: 1;
	transition: opacity 0.15s linear;
}

.qr-container {
	background-color: white;
	border-radius: 8px;
	padding: -5px;
	height: 110px;
	width: 110px;
	position: absolute;
	top:370px;
	left: 345px;
	overflow: hidden;
}

.qr {
	margin-left: -3px;
	margin-top: -3px;
}

.tick {
	margin-top: 150px;
}

#backText {
	color: #CCC;
	font-size: 14px;
	text-align: center;
	font-weight: 100;
	position: absolute;
	left: 160px;
	top: 290px;
}
