.body-items {
	font-size: 28px;
	margin: 10px;
	margin-bottom: 50px;
}

.container-left {
	padding: 40px;
	width: 720px;
	height: 690px;
	position: absolute;
	left: 0;
	-webkit-box-shadow: 8px 0px 12px -3px rgba(0,0,0,0.19);
	box-shadow: 8px 0px 12px -3px rgba(0,0,0,0.19);
	z-index: 1;
	background: white;
	transition: 0.5s;
}

.ticket-container {
	z-index: 0;
}

.ticket {
	position: relative;
	left: 450px;
	margin: 25px;
	z-index: -1;
}

.visible35 {
	visibility: visible;
	opacity: 1;
	transition: opacity 0.35s linear;
}

.visible15 {
	visibility: visible;
	opacity: 1;
	transition: opacity 0.15s linear;
}

.hidden15 {
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s 0.15s, opacity 0.15s linear;
}

.hidden35 {
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s 0.35s, opacity 0.35s linear;
}
